@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('//db.onlinewebfonts.com/c/67b648e4814d14f1586e2a931976ab65?family=HelveticaNowMicro-XtraBd');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

/* Roulette */
.ruleta_container {
  background: #cd1d1d;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
  color: #fff;
}

.ruleta_header {
  display: flex;
  width: 100%;
}

.ruleta_header_img {
  width: calc(30% + 1vw);
  margin: auto;
  display: flex;
  background: #fff;
  box-shadow: 0 0 10px 0 rgb(130 19 19 / 70%) inset;
}

.ruleta_header img {
  width: 70%;
  margin: auto;
}

.ruleta_box {
  display: flex;
  width: 100%;
  height: 100%;
}

#ruleta {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.95);
  transition: all 0.4s ease;
}

#ruleta_result {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  font-family: 'HelveticaNowMicro-XtraBd', 'Roboto', sans-serif;
}

#ruleta_result h1,
#ruleta_result h3 {
  font-size: calc(1rem + 1.2vw);
  text-align: center;
  font-weight: lighter;
}

#ruleta_result h2 {
  font-size: calc(1rem + 1.2vw);
  white-space: pre;
  margin-bottom: auto;
  font-weight: lighter;
}

#try_again {
  align-self: self-end;
  margin-bottom: auto;
  cursor: pointer;
  font-family: 'Roboto';
}

/* Balloon Effect */
#balloon_wrapper {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#balloon_container {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #fdfd96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }

  to {
    transform: translateY(-300vh);
    opacity: 0;
  }
}

/* Botón Jugar - CIRCLE */
.circle {
  fill: white;
  stroke: white;
  stroke-opacity: 0.30;
  stroke-width: 10;
}

/* Texto Jugar - CIRCLE */
#text_jugar {
  font-weight: bold;
  font-size: calc(1rem + 0.65vw);
  cursor: pointer;
  text-transform: uppercase;
  animation: floating 900ms infinite ease alternate;
}

@keyframes floating {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

/* Slice */
.piece_selected {
  fill: black;
  font-weight: bold;
  font-size: calc(1rem + 0.7vw);
}

/* Departamento - LOCAL */
.piece_not_selected {
  fill: white;
  font-size: calc(1rem + 0.5vw);
  font-weight: bold;
}

.piece_container_selected {
  fill: #FFBE0B;
  stroke: #FFBE0B;
  stroke-width: 5;
  transform: scale(1.025);
  /* transition: all 0.25s ease; */
}

@media (min-width: 2600px) {
  #text_jugar {
    fill: #000;
    font-size: calc(1rem + 1.2vw);
  }

  .circle {
    stroke-width: 20;
  }

  .piece_selected {
    font-size: calc(1rem + 0.95vw);
  }

  .piece_not_selected {
    fill: white;
    font-size: calc(1rem + 0.7vw);
    font-weight: bold;
  }

  .ruleta_header_img {
    width: calc(35% + 1vw);
  }
}

/* Mobile responsive */
@media (max-width: 1500px) {
  .ruleta_header_img {
    width: calc(30% + 1vw);
  }
}

@media (max-width: 1080px) {
  .ruleta_container {
    /* height: 100%; */
    padding-inline: 0;
  }

  .ruleta_box {
    display: flex;
    flex-direction: column;
  }

  #ruleta {
    width: 100%;
    min-height: 500px;
    order: 2;
  }

  #ruleta svg {
    margin-inline: auto;
  }

  #ruleta_result {
    width: 100%;
    min-height: 215px;
    order: 1;
    padding-inline: 2rem;
    margin-top: 2rem;
  }

  #ruleta_result h1 {
    margin-top: 4rem;
  }

  .piece_not_selected {
    font-size: 0.8em;
  }

  .ruleta_header_img {
    width: calc(50% + 1vw);
  }
}

@media (max-width: 580px) {
  #ruleta {
    min-height: 400px;
  }

  #ruleta_result {
    min-height: 150px;
  }

  #ruleta_result h1 {
    margin-top: 1.5rem;
  }

  .piece_not_selected {
    font-size: 0.7rem;
  }

  #text_jugar {
    font-size: 0.7rem;
  }

  .ruleta_header_img {
    width: calc(70% + 1vw);
  }
}