@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* Roulette */
.ruleta_container {
  background: #cd1d1d;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #fff;
}

.ruleta_title {
  margin-bottom: 1.5rem;
  font-size: calc(1.25rem + 1vw);
}

.ruleta_box {
  display: flex;
  width: 100%;
  height: 100%;
}

#ruleta {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.95);
  transition: all 0.4s ease;
  /* display: block;
  margin-left: auto; */
}

#ruleta_result {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 1rem;
}

#ruleta_result h1 {
  font-size: calc(1rem + 1.2vw);
  text-transform: uppercase;
}

#ruleta_result h2 {
  font-size: calc(1rem + 1vw);
  text-transform: uppercase;
  white-space: pre;
  margin-bottom: auto;
}

#try_again {
  align-self: self-end;
  margin-bottom: auto;
  cursor: pointer;
  visibility: hidden;
}

/* Balloon Effect */
#balloon_wrapper {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#balloon_container {
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
}

.balloon {
  height: 125px;
  width: 105px;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #fdfd96;
  display: block;
  position: absolute;
  top: 125px;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 120px;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }

  to {
    transform: translateY(-300vh);
    opacity: 0;
  }
}

/* Botón Jugar - CIRCLE */
.circle {
  fill: white;
  cursor: pointer;
  stroke: white;
  stroke-opacity: 0.30;
  stroke-width: 10;
}

/* Texto Jugar - CIRCLE */
#text_jugar {
  font-weight: bold;
  font-size: calc(1rem + 0.65vw);
  cursor: pointer;
  text-transform: uppercase;
  animation: floating 2s infinite linear;
}

@keyframes floating {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
  }
}

/* Slice */
.piece_selected {
  fill: black,;
  font-weight: bold;
  font-size: calc(1rem + 0.7vw);
}

/* Departamento - LOCAL */
.piece_not_selected {
  fill: white;
  font-size: calc(1rem + 0.5vw);
  font-weight: bold;
}

.piece_container_selected {
  fill: #FFBE0B;
  stroke: #FFBE0B;
  stroke-width: 5;
  transform: scale(1.04);
  /* transition: all 0.25s ease; */
}

@media (min-width: 2600px) {
  #text_jugar {
    fill: #000;
    font-size: calc(1rem + 1.2vw);
  }

  .circle {
    stroke-width: 20;
  }

  .piece_selected {
    font-size: calc(1rem + 0.95vw);
  }

  .piece_not_selected {
    fill: white;
    font-size: calc(1rem + 0.7vw);
    font-weight: bold;
  }
}

